# Virtual Environments Directories
venv/
.env/
env/
sport_tech_env/

# Virtual Environment Components (Platform-independent)
*/Scripts/
*/Lib/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Specific File Types/Names to Ignore
#*.json
*.jpg
*.png
*.mp4
README.dataset.txt
README.roboflow.txt

# Boxes files
boxes.txt
boxes_filtered.txt