opencv-python
numpy
matplotlib
tqdm
einops
pytorch_lightning
wandb
torch
torchvision
absl-py
natsort
pandas

# Visualization
seaborn
Pillow

# ML & Statistics
scikit-learn
scipy

# Time-series clustering
tslearn